.students-sidebar {
    background-color: gainsboro;
    padding: 20px 0px 0px 0px;
}


.students-content {
    background-color: goldenrod;
    padding: 20px 0px 0px 0px;
}

.students-container {
    margin: 40px 0px 0px 0px;
}

.my-button {
    position: absolute;
    right: 50px;
}

.left-button {
    position: absolute;
    left: 50px;   
}